@import url("https://fonts.googleapis.com/css2?family=Charm&family=Jersey+20&family=Quicksand:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.custom-font {
  font-family: "Jersey 20", sans-serif;
}

/* Add this CSS to your global stylesheet or as inline styles if necessary */
.carousel .slide {
  touch-action: pan-y; /* Ensure that vertical panning is allowed */
}

.carousel img {
  pointer-events: none; /* Allow touches to pass through images */
}

.prose .ql-size-small {
  font-size: 0.8rem; /* Tailwind text-sm */
}

.prose .ql-size-normal {
  font-size: 1rem; /* Tailwind text-sm */
}

.prose .ql-size-large {
  font-size: 1.25rem; /* Tailwind text-lg */
}

.prose .ql-size-huge {
  font-size: 1.5rem; /* Tailwind text-xl or 2xl */
}

.ql-indent-1 {
  padding-left: 1rem;
}
.ql-indent-2 {
  padding-left: 2rem;
}
.ql-indent-3 {
  padding-left: 3rem;
}
.ql-indent-4 {
  padding-left: 4rem;
}

/* Add more if needed */
